*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white
}

body{
  background: black;
  padding: 20px;
}
h2{
  margin-bottom: 30px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
span{
  display: inline-block;
}

.select_genre{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.select_genre label{
  align-self: center;
  margin-right: 15px;
}
select,
option{
  align-self: center;
  color: black;
}


.container_discs{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container{
  /* background: darkgreen; */
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img_disc{
  /* background: lime; */
  width: 100%;
  height: 190px;
  margin-bottom: 15px;
}

.info_disc{
  /* background: lightgreen; */
  text-align: center;
  padding: 5px;
}
.title{
  /* background: white; */
}
.author{
  /* background: orange; */
}
.year{
  /* background: lightblue; */
}
